
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的闺蜜团</title>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		#main{
			width: 185px;
			height: 110px;
			margin: 320px auto 0;
			text-align: center;
		}
		#main p{
			color: #444450;
			font-size: 14px;
			padding-top: 30px;
		}
	</style>
</head>
<body>
	<!-- wrap start -->
	<div id="wrap">
		<!-- main start -->
		<div id="main">
			<p>您还没有团购订单</p>
		</div>
		<!-- main end -->
	</div>
	<!-- wrap end -->
</body>
</html>