/* table 样式 */
table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
table td,
table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}
table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
}
  
/* blockquote 样式 */
blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}
  
/* code 样式 */
code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}
pre code {
    display: block;
}
  
/* ul ol 样式 */
ul, ol {
    margin: 10px 0 10px 20px;
 }
.content .nav, .content .comments {
    padding-top: 30px;
}
.article {
    border-bottom: 1px solid rgba(150, 150 ,150, .2);
}
.article h3 {
    letter-spacing: 1px;
    font: bold 22px / 32px "Microsoft yahei";
    text-align: center;
}
.article .article-info {
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, .6);
}
.article .article-info > span {
    margin-right: 5px;
}
.article .article-info > span > i {
    margin-right: 5px;
}
.article .article-info > span > a {
    color: rgba(0, 0, 0, .6);
}
.article .article-info > span > a:hover {
    color: #1296db;
}
.article-content {
    padding-bottom: 20px;
    color: rgba(0, 0, 0, .6);
}
.nav > a {
    width: 200px;
    height: 50px;
    display: inline-block;
    color: rgba(0, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .6);
}
.nav > a.next {
    float: left;
}
.nav > a.next {
    float: right;
}
.nav > a:hover {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.nav > a > p {
    text-align: center;
    line-height: 25px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.comments > p {
    padding: 10px 0;
}
.comments .comment-list .comment {
    padding: 1em 0 .2em;
    border-bottom: 1px dashed #000;
}
.comments .comment-list .comment .comment-info > a {
    font-size: 16px;
    font-style: italic;
    border-bottom: 1px solid #000;
}
.comments .comment-list .comment .comment-info > a[href="#"] {
    font-style: normal;
    border: none;
}
.comments .comment-list .comment .comment-info > a:hover {
    color: #1296db;
}
.comments .comment-list .comment .comment-content {
    padding: 1em .5em;
}
.comments .comment-list .comment .time {
    font-size: 16px;
    text-align: right;
    padding: 0 .5em;
}
.comments .comment-list .comment .time > a {
    border-bottom: 1px solid #000;
}
.comments .postComment > p {
    padding: 15px 0;
}
.comments .postComment > p > input {
    width: 258px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    text-indent: .5em;
}
.comments .postComment > p > textarea {
    width: 90%;
    font-size: 16px;
    border-color: rgba(0, 0, 0, .6);
}
.comments .postComment > p > button {  
    padding: 5px 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .6);
    cursor: pointer;
    user-select: none;
    outline: none;
}
.comments .postComment > p > button:hover {
    color: #000;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
}