#main .content .article-list{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(150 ,150 ,150, .5);
}
#main .content .article-list .title{
    letter-spacing: 1px;
    font: bold 22px / 45px "Microsoft yahei";
    cursor: pointer;
}
#main .content .article-list .title:hover a{
    text-decoration: underline;
}
#main .content .article-list > div{
    padding-top: 20px;
}
#main .content .article-list .article-info{
    font-size: 14px;
}
#main .content .article-list .article-info > span{
    margin: 0 5px;
}
#main .content .article-list .article-info > span > i{
    margin-right: 5px;
}
#main .content .article-list .article-info > span > a:hover{
    color: #1296db;
}
.pagination{
    text-align: center;
    line-height: 30px;
}
.pagination > a,.pagination > span{
    color: #555;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    padding: 0 10px;
    border-top: 1px solid transparent;
}
.pagination > a:hover,.pagination > span:hover{
    color: #222;
    border-top-color: #222;
}
.pagination > a.select{
    color: #FFF;
    background-color: #CCC;
}
.pagination > a.select:hover{
    border-top-color: transparent;
}