.tag_list{
    width: 70%;
    text-align: center;
}
.title{
    padding: 10px 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 32px;
}
.tag{
    margin: 10px;
    color: #555;
    line-height: 2;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    border-bottom: 1px solid #999;
}
.tag:hover{
    border-color: #333;
}