<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload File</title>
</head>
<body>
    <!-- <form action="/upload" enctype="multipart/form-data" method="post"> -->
        <input type="file" name="merry" multiple="multiple" />
        <button id="btn">Click to upload file</button>
        <!-- <input type="submit"> -->
    <!-- </form> -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        const oBtn = document.getElementById("btn");
        oBtn.addEventListener("click", clickHandler, false);

        function clickHandler () {
            $.ajax({
                type: "post",
                url: "/upload",
                contentType: "multipart/form-data",
                data: {

                },
                success (data) {
                    console.log(data);
                }
            });
        };
    </script>
</body>
</html>