<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../js/jquery-2.2.0.min.js"></script>
</head>
<body>
    <p><span>文章标题：</span><input type="text" class="title" /></p>
    <p><span>作者：</span><input type="text" class="author" /></p>
    <p><span>标签：</span><input type="text" class="tag" /></p>
    <p><span>内容：</span><textarea class="content"></textarea></p>
    <p><input type="submit" class="submit" /></p>
    <ul>
        <% for(let i in data){ %>
            <li>
                <a href="/article/<%= data[i].id %>.html">
                    <div>
                        <h5><%= data[i].title %></h5>
                        <p><%= data[i].author %></p>
                    </div>
                </a>
            </li>
        <% } %>
    </ul>
    <script>
        $('.submit').click(function(){
            $.ajax({
                type: 'POST',
                url: '/admin/article',
                dataType: 'json',
                data: {
                    tag: $('.tag').val(),
                    title: $('.title').val(),
                    author: $('.author').val(),
                    content: $('.content').val()
                },
                success(data){
                    console.log(data);
                },
                error(data){
                    console.log(data);
                }
            });
        });
    </script>
</body>
</html>