<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for(let i in locals.navdata){ %>
            <li><%= locals.navdata[i]['title'] %></li>
            <ul>
                <% for(let j in locals.navdata[i]['child']){ %>
                    <li><%= locals.navdata[i]['child'][j]['title'] %></li>
                <% }; %>
            </ul>
        <% }; %>
    </ul>
</body>
</html>