<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../css/my/style_fapiao.css">
</head>
<body>
	<!-- wrap start -->
		<div id="wrap">
			<!-- main start -->
			<div id="main">
				<p class="money">
					<span>可开发票额度</span>
					<span><font>0</font>元</span>
				</p>
				<p class="arrow">按订单开票</p>
				<p class="arrow">按订单开票</p>
				<p>开票记录</p>
				<ul>
					<li>最高可开票金额仅按实际支付金额费用，不包含任何优惠券，赠送积分，代金券，体验券等优惠活动费用。</li>
					<li>单张发票金额不能低于50元。</li>
					<li>开票金额大于或等于300元可为您免费邮寄</li>
					<li>我们将会发票申请后的15个工作日内处理。</li>
					<li>一个订单只能开具发票一次，如果“发票丢失”或者“提供抬头错误”需要补发票的，我们将会收取相应的费用。</li>
					<li class='import'>增值税电子普通发票的开票方和受票方需要纸质发票的，可以自行打印增值税电子普通发票的版式文件，其法律效力、基本用途、基本使用规定等与税务机关监制的增值税普通发票相同。</li>
					<li class='import'>进入上海税务网站（www.tax.sh.gov.cn），点击“我要查询”，点击“增值税发票查验”，输入发票代码、发票号码、开票日期、开具金额等信息即可查验。</li>
					<li>注意：发票有特殊要求请联系<span>人工客服</span。</li>
				</ul>
			</div>
			<!-- main end -->
		</div>
		<!-- wrap end -->
</body>
</html>