<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>积分</title>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		#main{
			width: 185px;
			height: 110px;
			margin: 100px auto 0;
			text-align: center;
		}
		#main img{
			width: 58px;
			height: 58px;
			display: block;
			margin: 0 auto;
		}
		#main p{
			color: #444450;
			font-size: 14px;
			padding-top: 30px;
		}
	</style>
</head>
<body>
	<!-- wrap start -->
	<div id="wrap">
		<!-- main start -->
		<div id="main">
			<% if(data > 0){ %>
				<p class="jifen">
					共有<span><%= data %></span>积分
				</p>
			<% }else{ %>
				<img src="../../../img/my/iconfont-empty.png" align="center">
				<p>没有记录</p>
			<% }; %>
		</div>
		<!-- main end -->
	</div>
	<!-- wrap end -->
</body>
</html>