<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include header.ejs %>
    <img src="img/logo.png" style="width: 180px;height:140px;" alt="">
    <!-- 接收数据方式 -->
    <!-- =接收的是转义后的内容 -->
    <!--<%=  %>-->
    <!-- -接收的是没有转义后的内容 -->
    <!--<%-  %>-->
    <!--主要是写js代码-->
    <% for(let i=0;i<5;i++){ %>
       <span>i</span>
    <% } %>
    <% for(let i in data){ %>
        <%= data[i] %>
    <% } %>
</body>
</html>