{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/article.css">
{% endblock %}
{% block main %}
    <div class="article">
        <h3>{{ article.title }}</h3>
        <div class="article-info">
                <span class="time">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                    {{ article.createdAt }}
                </span>
                <span class="tag">
                    {% if article.tags.length !== 0 %}
                        <i class="fa fa-tag" aria-hidden="true"></i>
                        {% for tag in article.tags %} 
                            <a href="/tag/{{tag.content}}">{{ tag.content }}</a>&nbsp;&nbsp;
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
        <div class="article-content">{{ article.content | safe }}</div>
    </div>
    <div class="nav">
        {% if prevArticle %}
            <a class="prev" href="{{prevArticle.href}}" title="{{prevArticle.title}}">
                <p>Previous</p>
                <p>{{ prevArticle.title }}</p>
            </a>
        {% endif %}
        {% if nextArticle %}
            <a class="next" href="{{nextArticle.href}}" title="{{nextArticle.title}}">
                <p>Next</p>
                <p>{{ nextArticle.title }}</p>
            </a>
        {% endif %}
    </div>
    <div class="comments">
        <div class="comment-list">
            {% if comments.length === 0 %}
                <p>暂无评论。</p>
            {% else %}
                <h3>留言（{{ comments.length }}条）</h3>
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-info"><a href="{{ comment.href }}" target="_blank">{{ comment.name }}</a></div>
                        <div class="comment-content">{{ comment.content | safe }}</div>
                        <div class="time">{{ comment.time }} | <a href="#" class="quote">引用</a></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="postComment" >
            <p>发表评论：</p>
            <p>
                <input type="text" name="name" class="comment-name">
                <label for="name">姓名*</label>
            </p>
            <p>
                <input type="text" name="email" class="comment-email">
                <label for="email">电子邮件*</label>
            </p>
            <p>
                <input type="text" name="website" class="comment-website">
                <label for="website">个人网址</label>
            </p>
            <p>
                <textarea name="content" id="comment-content" cols="30" rows="10"></textarea>
            </p>
            <p>
                <button class="submit" data-id="{{ article.id }}">发表评论</button>
            </p>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/js/comment.js"></script>
{% endblock %}