*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #E2E2E2;
}
#wrap{
	width: 640px;
	padding: 20px 0px;
	margin: 15px auto;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}
#main{
	width: 610px;
	margin: 0 15px;
}
#main .img{
	width: 100%;
	height: 336px;
	background: url(../../img/my/ftimg.jpg) center center / cover;
}
#main > form{
	width: 100%;
	height: 355px;
	margin-top: 20px;
}
#main > form > p{
	color: #333;
	font-size: 14px;
	line-height: 30px;
}
#main > form > label{
	width: 100%;
	height: 50px;
	display: block;
}
#main > form > label > span{
	float: left;
	line-height: 50px;
	color: rgb(0,0,0);
	font-size: 15px;
}
#main > form > label > input,#main > form > label > select{
	float: right;
	width: 398px;
	height: 34px;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 3px;
	font-size: 14px;
	text-indent: 12px;
	line-height: 34px;
}
#main > form > label > select{
	width: 400px;
}
#main > form > label > select > option{
	text-indent: 12px;
}
#main > form > textarea{
	width: 100%;
	height: 110px;
	font-size: 15px;
	line-height: 25px;
	text-indent: 12px;
}
#main > form > label > input:focus,#main > form > label > select:focus,#main > form > textarea:focus{
	border-color: rgb(102 ,175 ,233);
}
#main > form > input[type="submit"]{
	width: 100%;
	height: 45px;
	color: #fff;
	text-align: center;
	line-height: 45px;
	margin-top: 10px;
	background-color: #428BCA;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 18px;
	letter-spacing: 5px;
}