<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>列表渲染</title>
	<script src="../js/vue.js"></script>
</head>
<body>
	<ul id="example-1">
		<li v-for="item in items">
			{{ item.message }}
		</li>
	</ul>
	<ul id="example-2">
		<li v-for="(item, index) in items">
			{{ parentMessage }} - {{ index }} - {{ item.message }}
		</li>
	</ul>
	<ul id="example-3">
		<template v-for="item in items">
			<li>{{ item.msg }}</li>
			<li class="divider"></li>
		</template>
	</ul>
	<ul id="repeat-object" class="demo">
		<li v-for="(value,key,inedx) in object">
			{{ key }} : {{ value }} -{{ inedx }}
		</li>
	</ul>
	<div id="example-5">
		<span v-for="n in 10">
			{{ n }}
		</span>
	</div>
	<div id="todo-list-example">
		<input v-model="newTodoText"
			   v-on:keyup.enter="addNewTodo"
			   placeholder="Add a todo"
		>
		<ul>
			<li
				is="todo-item"
				v-for="(todo,index) in todos"
				:title="todo"
				@remove="todos.splice(index,1)"
			></li>
		</ul>
	</div>
	<div id="example-7">
		<ul>
			<li v-for="n in evenNumbers">{{ n }}</li>
		</ul>
	</div>
	<div id="example-8">
		<ul>
			<li v-for="n in even(numbers)">{{ n }}</li>
		</ul>
	</div>
	<script>
	// v-for
		// 基本用法
		var example1 = new Vue({
			el: '#example-1',
			data: {
				items: [
					{ message: 'foo' },
					{ message: 'Bar' }
				]
			}
		});
		var example2 = new Vue({
			el: '#example-2',
			data: {
				parentMessage: 'Parent',
				items: [
					{ message: 'foo' },
					{ message: 'Bar' }
				]
			}
		});

		// Template v-for
		var example3 = new Vue({
			el: '#example-3',
			data: {
				items: [
					{ msg: 'foo' },
					{ msg: 'Bar' }
				]
			}
		});

		// 对象迭代 v-for
		var example4 = new Vue({
			el: '#repeat-object',
			data: {
				object: {
					FirstName: 'John',
					LastName: 'Doe',
					Age: 30
				}
			}
		});

		// 整数迭代 v-for
		var example5 = new Vue({
			el: '#example-5'
		});

		// 组件和 v-for
		Vue.component('todo-item',{
			template: '\
				<li>\
					{{ title }}\
					<button v-on:click="$emit(\'remove\')">X</button>\
				</li>\
			',
			props: ['title']
		});
		var example6 = new Vue({
			el: '#todo-list-example',
			data: {
				newTodoText: '',
				todos: [
					'Do the dishes',
					'Take out the trash',
					'Mow the lawn'
				]
			},
			methods: {
				addNewTodo: function(){
					this.todos.push(this.newTodoText)
					this.newTodoText = ''
				}
			}
		});

	// key

	// 数组更新检测

	// 显示过滤/排序结果
		var example7 = new Vue({
			el: '#example-7',
			data: {
				numbers: [1,2,3,4,5]
			},
			computed: {
				evenNumbers: function(){
					return this.numbers.filter(function(number){
						return number % 2 === 0
					});
				}
			}
		});

		var example8 = new Vue({
			el: '#example-8',
			data: {
				numbers: [1,2,3,4,5]
			},
			methods: {
				even: function(){
					return this.numbers.filter(number => number % 2 ===0);
				}
			}
		});
	</script>
</body>
</html>