<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../js/jquery-2.2.0.min.js"></script>
</head>
<body>
    <p>这里是用户信息编辑</p>
    原始用户名： <%= data[0].username %><br>
    新用户名：<input type="text" class="name" /><br>
    修改前管理员：<%= data[0].admin %><br>
    管理员：<input type="text" class="admin" /><br>
    <input type="submit" class="sub" userId="<%= data[0].id %>" />
    <script>
        $('.sub').click(function(){
            let id = $(this).attr('userId');
            $.ajax({
                type: 'POST',
                url: `/admin/user/update`,
                dataType: 'json',
                data: {
                    name: $('.name').val(),
                    admin: $('.admin').val(),
                    id: id
                }
            });
        });
    </script>
</body>
</html>