*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    flex: 0 0 60px;
    width: 100%;
    background-color: #23262E;
    color: rgba(255,255,255,.7);
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.header > div{
    flex: 0 0 220px;
    cursor: text;
}
.header .logo{
    font: normal 26px / 60px "Microsoft yahei";
    padding-left: 30px;
}
.header .userInfo{
    padding-right: 30px;
    display: flex;
}
.header .userInfo > img,.header .userInfo > span{
    flex: 1;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
}
.header .userInfo > img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    flex: 0 0 50px;
    margin: 5px 0;
}
.header .userInfo > span > a{
    color: rgba(255,255,255,.7);
}
.header .userInfo > span:hover , .header .userInfo > span > a:hover{
    color: rgb(255,255,255);
}
.container{
    flex: 1;
    display: flex;
}
.container .slideMenu{
    flex: 0 0 225px;
    background-color: #393D49;
    position: relative;
}
.container .slideMenu .item{
    width: 100%;
    text-indent: 12px;
    font: normal 16px / 50px "Microsoft yahei";
    cursor: pointer;
    user-select: none;
    position: relative;
    color: #FFF;
}
.container .slideMenu .item::after{
    content: "";
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top: 10px solid #FFF;
    border-left-width: 8px;
    border-right-width: 8px;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotateZ(0deg);
    transition: .2s;
}
.container .slideMenu .item.clicked::after{
    transform: rotateZ(180deg);
}
.container .slideMenu .item:hover{
    background-color: #4E5465;
}
.container .slideMenu .item .sub-item{
    display: none;
}
.container .slideMenu .item .sub-item > li{
    background-color: rgba(0,0,0,.3)!important;
    text-indent: 24px;
    font: normal 14px / 50px "Microsoft yahei";
    color: rgba(255,255,255,.7);
}
.container .slideMenu .item .sub-item > li:hover{
    color: #FFF;
}
.container .slideMenu .slider{
    width: 8px;
    height: 0px;
    background-color: #5FB878;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .15s;
}
.container .content{
    flex: 1;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}
.container .content .main{
    padding: 20px;
}
.container .content .main .date > input{
    width: 160px;
    height: 30px;
    border: 1px solid rgb(230,230,230);
    outline: none;
    text-indent: 12px;
    font-size: 16px;
    color: rgb(150,150,150);
    margin-left: 15px;
}
.container .content .main .welcome{
    text-indent: 16px;
    line-height: 60px;
    text-align: center;
}
.container .content .main .loading{
    width: 11px;
    height: 44px;
    margin: 88px auto;
    position: relative;
    background-color: #000;
    animation: p1 1s 0.16s ease-in-out infinite;
}
.container .content .main .loading::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 16px;
    width: 11px;
    height: 44px;
    animation: p1 1s 0.32s ease-in-out infinite;
    background-color: #000;
}
.container .content .main .loading::after{
    content: "";
    position: absolute;
    top: 0px;
    left: -16px;
    width: 11px;
    height: 44px;
    animation: p1 1s ease-in-out infinite;
    background-color: #000;
}
@keyframes p1 {
    0%, 80%, 100% {
        box-shadow: 0 0 #000;
        height: 44px;
    }
    40% {
        box-shadow: 0 -22px #000;
        height: 55px;
    }
}
.container .content .main .product{
    height: 45px;
    line-height: 45px;
    display: flex;
    margin: 20px 0;
}
.container .content .main .product span{
    float: left;
}
.container .content .main .product input{
    width: 300px;
    height: 30px;
    display: block;
    float: left;
    margin: 7px;
}
.container .content .main .product span.confirm{
    width: 160px;
    height: 32px;
    display: block;
    background: red;
    line-height: 32px;
    text-align: center;
    color: #FFf;
    cursor: pointer;
}
.container .content .main .users-list{
    border: 1px solid silver;
    width: 400px;
}
.container .content .main .users-list li{
    line-height: 45px;
}
.container .content .main .users-list li span{
    margin: 0 10px;
}
.product-nav{
    height: 45px;
    line-height: 45px;
    border: 1px solid silver;
    margin: 20px 0;
    display: flex;
}
.product-nav span{
    flex: 0 0 150px;
    text-align: center;
}
.product-nav span.dec{
    flex: 1;
}
.product-list li{
    list-style: none;
    height: 200px;
    border: 1px solid silver;
    margin-bottom: 20px;
    display: flex;
    line-height: 200px;
}
.product-list li .dec{
    flex: 1;
    display: flex;
    padding: 25px;
}
.product-list li span{
    flex: 0 0 150px;
    text-align: center;
}
.product-list li .dec img{
    width: 150px;
    height: 150px;
}
.product-list li .dec i{
    flex: 1;
    font-style: normal;
    text-align: left;
    line-height: 25px;
    margin: 0 10px;
}
footer{
    flex: 0 0 45px;
    line-height: 45px;
    text-align: center;
    background-color: #eee;
}
footer > a{
    color: #000;
}