*{ margin:0px; padding:0px;}
header{
    width: 950px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}
header img{
    height: 48px;
    float: left;
}
header a{
    color: #000;
    text-decoration: none;
}
.wrap{
    width: 950px;
    margin: 0 auto;
    padding: 20px;
}
.wrap .title{
    text-align: center;
    background: rgba(170,170,170 , .3);
    line-height: 42px;
}
.wrap .nav{
    height: 45px;
    line-height: 45px;
    border: 1px solid silver;
    margin: 20px 0;
    display: flex;
}
.wrap .nav span{
    flex: 0 0 150px;
    text-align: center;
}
.wrap .nav span.product_name{
    flex: 1;
}
.wrap .list li{
    list-style: none;
    height: 200px;
    border: 1px solid silver;
    margin-bottom: 20px;
    display: flex;
    line-height: 200px;
}
.wrap .list li .dec{
    flex: 1;
    display: flex;
    padding: 25px;
}
.wrap .list li span{
    flex: 0 0 150px;
    text-align: center;
}
.wrap .list li .dec img{
    width: 150px;
    height: 150px;
}
.wrap .list li .dec i{
    flex: 1;
    font-style: normal;
    text-align: left;
    line-height: 25px;
    margin: 0 10px;
}
.no_order{
    text-align: center;
    line-height: 32px;
}