*{
    margin: 0;
    padding: 0;
}
header{
    width: 950px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}
header img{
    height: 48px;
    float: left;
}
header a{
    color: #000;
    text-decoration: none;
}
#wrap{
    width: 950px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}
#wrap .product{
    flex: 0 0 420px;
    height: 420px;
}
#wrap .product > img{
    width: 100%;
    height: 100%;
}
#wrap .dec{
    flex: 0 0 500px;
}
#wrap .dec p{
    height: 80px;
}
#wrap .dec p.add span{
    display: block;
    width: 180px;
    height: 40px;
    text-align: center;
    background: red;
    line-height: 40px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}
#wrap .dec p.number{
    line-height: 30px;
}
#wrap .dec p.number span.key{
    display: block;
    width: 50px;
    height: 30px;
    float: left;
}
#wrap .dec p.number span.value{
    display: block;
    width: 60px;
    height: 40px;
    float: left;
    margin-right: 5px;
}
#wrap .dec p.number span.value .num{
    display: block;
    width: 40px;
    height: 30px;
    border: 1px solid rgb(166, 166, 166);
    float: left;
    text-align: center;
    line-height: 30px;
}
#wrap .dec p.number span.value .control{
    width: 14px;
    display: block;
    float: right;
    height: 32px;
}
#wrap .dec p.number span.value .control i{
    width: 12px;
    height: 12px;
    display: block;
    border: 1px solid rgb(166, 166, 166);
    margin-bottom: 4px;
    font-style: normal;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
    user-select: none;
}