<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/jquery.js"></script>
</head>
<body>
</body>
    <!--
        dirType === 1   当前这个文件是模板
        dirType === 2   当前这个文件是目录
    -->
    <% for(let i in dir){ %>
        <% if(dir[i].includes('.')){ %>
            <p data-dirType="1" onclick="next(this)"><%= dir[i] %></p>
        <% }else{ %>
            <p data-dirType="2" onclick="next(this)"><%= dir[i] %></p>
        <% } %>
    <% } %>
    <script>
        let dirName,
            dirType; 
        function next(_this){
            // dirName = _this.innerText;
            if(_this.getAttribute("data-dirName") === null){
                dirName = _this.innerText;
            }else{
                dirName = `${_this.getAttribute("data-dirName")}/${_this.innerText}`;
            };
            dirType = _this.getAttribute("data-dirType");
            // console.log(`dirName : ${dirName} , dirType : ${dirType}`);
            $.ajax({
                url: '/admin/views',
                type: 'post',
                data: {
                    dirName : dirName,
                    dirType : dirType
                },
                success(data){
                    // console.log(data);
                    if(data.dirType === 2){
                        document.body.innerHTML = '';
                        for(let i in data.content){
                            if(data.content[i].includes('.')){
                                document.body.innerHTML += `<p data-dirName=${data.dirName} onclick="next(this)" data-dirType='1'>${data.content[i]}</p>`;
                            }else{
                                document.body.innerHTML += `<p onclick="next(this)" data-dirType='2'>${data.content[i]}</p>`;
                            };
                        };
                    }else{
                        document.body.innerHTML = `
                            <span data-dirName=${data.dirName} onclick=back(this)>返回</span><br />
                            <textarea>${data.content}</textarea><br />
                            <button onclick=sub()>修改</button>
                        `;
                    };
                }
            });
        };
        function back(_this){
            $.ajax({
                url: '/admin/views',
                type: 'post',
                data: {
                    dirName: _this.getAttribute("data-dirName").includes('/')?_this.getAttribute("data-dirName").substring(0,5):'',
                    dirType: 2
                },
                success(data){
                    document.body.innerHTML = '';
                    for(let i in data.content){
                        if(data.content[i].includes('.')){
                            document.body.innerHTML += `<p onclick="next(this)" data-dirType='1'>${data.content[i]}</p>`;
                        }else{
                            document.body.innerHTML += `<p onclick="next(this)" data-dirType='2'>${data.content[i]}</p>`;
                        };
                    };
                }
            });
        };
        function sub(){
            $.ajax({
                url: '/admin/views',
                type: 'post',
                data: {
                    content: $('textarea').val(),
                    dirName: dirName,
                    dirType: 3
                },
                success(data){
                    console.log(data);
                }
            })
        };
    </script>
</body>
</html>