<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload File</title>
</head>
<body>
    <input type="file" id="file">
    <button id="btn">Click to upload file</button>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        const oFile = document.getElementById("file"),
            oBtn = document.getElementById("btn");

        oBtn.addEventListener("click", function () {
            const fr = new FileReader(),
                file = oFile.files[0],
                fileName = file.name;
                fr.onloadend = function (e) {
                    const fileData = e.target.result;
                    // ajax({
                    //     type: "post",
                    //     url: "/upload",
                    //     data: {
                    //         fileData,
                    //         fileName
                    //     },
                    //     success (data) {
                    //         console.log(data);
                    //     }
                    // });
                    $.ajax({
                        type: "post",
                        url: "/upload",
                        data: {
                            fileData
                        }
                    });
                };
                fr.readAsText(file);
        }, false);

        /*function ajax({
            url,
            type = "GET",
            isAsync = true,
            data,
            dataType,
            success,
            error,
        }) {
            const xhr = new XMLHttpRequest();
            
            if (!XMLHttpRequest.prototype.sendAsBinary) {
                XMLHttpRequest.prototype.sendAsBinary = function (data) {
                    const nBytes = data.length, ui8Data = new Uint8Array(nBytes); 
                    for (var nIdx = 0; nIdx < nBytes; nIdx ++) {
                        ui8Data[nIdx] = data.charCodeAt(nIdx) & 0xff;
                    };
                    this.send(ui8Data);
                };
            };

            xhr.addEventListener("load", transferCompleted, false);
            xhr.addEventListener("progress", updateProgress, false);
            xhr.addEventListener("error", transferFailed, false);
            xhr.addEventListener("abort", transferCanceled, false);
            xhr.addEventListener("readystatechange", handleStateChange, false);

            if(data) {
                let arr = [];
                for(let key in data) {
                    arr.push(`${key}=${data[key]}`);
                };
                data = arr.join("&");
                if(type.toLocaleLowerCase === "get") {
                    url += '?' + data
                };
            };

            xhr.open(type, url, isAsync);
            // xhr.overrideMimeType("application/octet-stream");
            // if (dataType === "arraybuffer") {
            //     xhr.responseType = dataType;
            // };
            xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
            xhr.send(data);
            // xhr.sendAsBinary(data);

            function transferCompleted(ev) {
                
            };

            function updateProgress(ev) {
                // if(ev.lengthComputable) {
                    // ev.loaded 已经下载大小
                    // ev.total  全部大小
                // };
            };

            function transferFailed() {
                error ? error(xhr.statusText) : console.log(xhr.statusText);
            };

            function transferCanceled() {
                error ? error(xhr.statusText) : console.log(xhr.statusText);
            };

            function handleStateChange() {
                const {readyState, status, statusText} = xhr;
                let result;
                if (dataType === "arraybuffer") {
                    result = xhr.response;
                } else {
                    result = xhr.responseText;
                };
                if(readyState === XMLHttpRequest.DONE) {
                    (status >= 200 && status < 300) || status === 300
                        ? success(result)
                        : (error ? error(statusText) : console.log(statusText));
                };
            };
        };*/
    </script>
</body>
</html>