<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    这里是用户管理<br>
    <form action="/admin/user" method="POST">
        <% for(let i in data){ %>
            用户名：<%= data[i].username %>
            管理员：<%= data[i].admin %>
            <input type="checkbox" name="id" value="<%= data[i].id %>" class="id" />
            <a href="/admin/user/update?id=<%= data[i].id %>">修改</a>
            <br>
        <% } %>
        <input type="submit">
    </form>
</body>
</html>