<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>博客首页</h1>
    <% if(locals.login){ %>
        已经登录
        <% if(locals.admin){ %>
            当前用户为管理员
        <% } %>
        <a href="/logout">退出登录</a>
    <% } %>
    <br />
    <ul>
        <% for(let i in data){ %>
            <li>
                <a href="/article/<%= data[i].id %>.html">
                    <img src="<%= data[i].image %>" width="100px" height="100px" />
                    <div>
                        <h5><%= data[i].title %></h5>
                        <p><%= data[i].author %></p>
                    </div>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>