{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}
{% block main %}
    <h3 class="title">关于我</h3>
    <p class="text">Merry，一名准程序员。</p>
    <h3 class="title">链接</h3>
    <ul class="text">
        <li>
            Github:&nbsp;&nbsp;<a href="https://github.com/merrye/" target="_blank">
                @merrye
            </a>
        </li>
        <li>
            Twitter:&nbsp;&nbsp;<a href="https://twitter.com/Merryepc" target="_blank">
                @Merryepc
            </a>
        </li>
    </ul>
{% endblock %}