<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="bookmark" href="/images/favicon.ico" />
    <title>{{ title }}</title>
</head>
<body>
    <header class="header">
        <div class="logo">Merry's Blog</div>
        <div class="userInfo">
            <img src="/images/admin/user_avatar.png" alt="">
            <span>{{ name }}</span>
            <span><a href="/logout">退出</a></span>
        </div>
    </header>
    <div class="container">
        <div class="slideMenu">
            <div class="item">
                文章管理
                <ul class="sub-item">
                    <li class="meun-item">文章发布</li>    
                </ul>
            </div>
            <div class="item">
                文章统计
                <ul class="sub-item">
                    <li class="meun-item">文章归档&nbsp;--&nbsp;月</li>
                    <li class="meun-item">文章归档&nbsp;--&nbsp;年</li>    
                </ul>
            </div>
            <div class="slider"></div>
        </div>
        <div class="content">
            <div class="main">
                <h3 class="welcome">亲爱的{{ name }}，欢迎到来。</h3>
            </div>
        </div>
    </div>
    <footer><span></span>&copy;&nbsp;Copyright&nbsp;2017&nbsp;-&nbsp;2018&nbsp;<a href="/">Merry</a></footer>
    <script src="https://unpkg.com/wangeditor@3.0.15/release/wangEditor.min.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/merry.js"></script>
    <script src="/layer/layer.js"></script>
    <script src="/js/admin.js"></script>
</body>
</html>