{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/archives.css">
{% endblock %}
{% block main %}
    <div class="articles-list">
        <h3 class="title">目前共计{{ count }}篇文章</h3>
        {% for article_list in articles_list %}
            {% for title,articles in article_list %}
                {% for article in articles %}
                    <div class="article">
                        {{article.createdAt.substr(5).replace("/","-")}}
                        <a href="{{article.href}}">{{article.title}}</a>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}