<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="bookmark" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/base.css">
    {% block css %}{% endblock %}
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/merry.js"></script>
    <script src="https://use.fontawesome.com/b8b101c563.js"></script>
    <script src="http://at.alicdn.com/t/font_313790_vs21m8sgmzccjtt9.js"></script> 
</head>
<body>
    <!-- container start -->
    <div id="container">
        <!-- introduction start -->
        <div id="introduction">
            <div class="intro-content">
                <div class="intro-avator">
                    <canvas width="130" height="150" id="intro-avator-canvas"></canvas>                    
                </div>
                <h3><a href="/home">Merry's Blog</a></h3>
                <ul>
                    <li>
                        <a href="https://twitter.com/Merryepc" target="_blank">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-icon-test"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/merrye/" target="_blank">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <footer class="intro-footer">&copy;&nbsp;Copyright&nbsp;2017&nbsp;-&nbsp;2018&nbsp;By&nbsp;Merry</footer>
        </div>
        <!-- introduction end -->
        <!-- main start -->
        <div id="main">
            <div class="nav-list">
                <ul>
                    <li><a href="/home">首页</a></li>
                    <li><a href="/archives">归档</a></li>
                    <li><a href="/tag">标签</a></li>
                    <li><a href="/classification">分类</a></li>
                    <li><a href="/about">关于</a></li>
                </ul>
                <span class="nav-line nav-clicked-line"></span>
            </div>
            <div class="content">{% block main %} {% endblock %}</div>
        </div>
        <!-- main end -->
    </div>
    <!-- container end -->
    <script src="/js/base.js"></script>
    {% block js %} {% endblock %}
</body>
</html>