{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}
{% block main %}
    {% for article in article_list %}
        <div class="article-list">
            <h3 class="title"><a href="{{article.href}}">{{ article.title }}</a></h3>
            <div class="dec">{{ article.description }}</div>
            <div class="article-info">
                <span class="time">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                    {{ article.createdAt }}
                </span>
                <span class="tag">
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    {% for tag in article.tags %} 
                        <a href="/tag/{{tag.content}}">{{ tag.content }}</a>&nbsp;&nbsp;
                    {% endfor %}
                </span>
            </div>
        </div>
    {% endfor %}
    <nav class="pagination">
        {% if currentIndex !== 1 %}
            <a href="/page/{{ currentIndex - 1 }}" class="prev">&lt;</a>
        {% endif %}
        {% for i in range(1 , count + 1) -%}
            {% set className = "select" if currentIndex === i %}
            {% if i === 1 %}
                <a class="{{ className | safe }}" href="/home">{{ i }}</a>
            {% else %}
                <a class="{{ className | safe }}" href="/page/{{i}}">{{ i }}</a>
            {% endif %}
        {%- endfor %}
        {% if currentIndex !== count %}
            <a class="next" href="/page/{{ currentIndex + 1 }}">&gt;</a>
        {% endif %}
    </nav>
{% endblock %}
{% block js %}
    <script src="/js/home.js"></script>
{% endblock %}