<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% for(let i in data){ %>
        <p><%= data[i].title %></p>
    <% } %>
    <a href="/article/list-1.html">第1页</a>
    <a href="/article/list-2.html">2</a>
    <a href="/article/list-3.html">3</a>
    <a href="/article/list-4.html">4</a>
    <a href="/article/list-5.html">5</a>
    <a href="/article/list-6.html">6</a>
    <a href="/article/list-7.html">7</a>
</body>
</html>